body {
  overflow-x: hidden;
}

main .slider .right-arrow {
  display: none;
}

main .slider .left-arrow {
  display: none;
}

main h2 {
  max-width: 85%;
  margin: 0 auto 1em auto;
  font-size: 20px;
  font-family: "Stabil";
  font-weight: 500;
  color: black;
  line-height: 1.2;
}
main #popupBtn {
  cursor: pointer;
  font-family: "Labil";
  margin: 0 auto;
  margin-top: -0.5em;
}
main .slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
main .slider .pc-slide .left-arrow {
  display: none;
}
main .slider .pc-slide .right-arrow {
  display: none;
}
main .slider::-webkit-scrollbar {
  display: none;
}
main .slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main .slider .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  scroll-snap-align: start;
}
main .slider .pc-slide {
  display: flex;
  align-items: flex-start;
}
main .slider .slide img {
  max-width: 85%;
  max-height: 100%;
  border-radius: 2em;
  margin: 1em;
}

.dot-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0em auto;
  padding-bottom: 2em;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 0.25em;
}

.active-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 0 0.25em;
}

.popup {
  width: 100vw;
  height: 100vh;
  background: #B59AB7;
  position: absolute;
  top: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  display: none;
}

.popup h2 {
  color: white;
  max-width: 13ch;
  text-align: center;
  margin-bottom: 1em;
  font-size: 26px;
}

.popup .full-width {
  max-width: 100%;
}

.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.popup form input {
  font-size: 26px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-family: "Stabil";
}

.popup form input::-moz-placeholder {
  color: black;
}

.popup form input::placeholder {
  color: black;
}

.popup form button {
  width: 60%;
  height: 3em;
  border: none;
  border-radius: 4em;
  font-size: 20px;
  cursor: pointer;
}

.popup .popup-header {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.popup .popup-header .lang-slct-btn {
  color: #000;
  padding: 16px;
  margin-right: 1em;
  font-size: 16px;
  border: none;
  background: none;
  font-family: "Stabil";
}
.popup .popup-header .language-select {
  position: relative;
  display: inline-block;
  margin: 1em;
}
.popup .popup-header .lng-slct-content {
  display: none;
  position: absolute;
  max-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  background-color: white;
  border-radius: 1em;
}
.popup .popup-header .lng-slct-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 1em;
  z-index: 5;
  font-family: "Stabil";
}
.popup .popup-header .lng-slct-content a:hover {
  background-color: rgb(250, 250, 250);
}
.popup .popup-header .lng-slct-content a:active {
  background-color: rgb(250, 250, 250);
}
.popup .popup-header .language-select:hover .lng-slct-content {
  display: block;
}
.popup .popup-header .language-select:active .lng-slct-content {
  display: block;
}

.close-popup-btn {
  background: none;
  outline: none;
  border: none;
  margin: 2em 0;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 95%;
    margin-bottom: 2em;
  }
  main .container .inner-cont {
    display: flex;
    flex-direction: column;
  }
  main .container .inner-cont #popupBtn {
    margin: 0;
  }
  main .container .inner-cont h2 {
    margin: 0;
  }
  main .container h2 {
    margin: 0 2.5em;
    font-size: 30px;
    line-height: 1.2;
    max-width: 29em;
  }
  main .slider .slide {
    min-width: 31%;
    max-width: 31%;
    width: auto;
    margin: 0 1em;
  }
  main .slider {
    max-width: 95%;
    margin: 0 auto;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 100%;
  }
  main .slider .slide h3 {
    margin-top: 0.5em;
    font-size: 20px;
  }
  main .slider .slide a img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  main .slider .pc-slide .right-arrow {
    height: 2em;
    display: none;
    margin: 1em;
    cursor: pointer;
    position: absolute;
    right: 0em;
    top: 50%;
  }
  main .slider .pc-slide .left-arrow {
    height: 2em;
    display: none;
    margin: 1em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: rotate(180deg);
    left: 0;
  }
  main .slider .pc-slide {
    min-width: 100%;
    margin: 0 1em;
    height: 100%;
  }
  main .dot-container {
    display: none;
  }
  main .social-sites {
    justify-content: flex-start;
    margin: 1em 2%;
  }
  main .social-sites a {
    margin: 0 1em;
  }
  main .contact-info {
    max-width: 30%;
    margin: 0 3%;
  }
  main .contact-info p {
    width: 50%;
    font-size: 20px;
  }
  main .bottom-cont {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .popup .popup-header {
    justify-content: flex-end;
  }
  .popup .popup-header .language-select {
    margin: 1em 0;
  }
  .popup h2 {
    max-width: 25ch;
    font-size: 40px;
  }
  .popup form input {
    font-size: 40px;
  }
  .popup .close-popup-btn {
    font-size: 20px;
  }
}/*# sourceMappingURL=contact.css.map */