//VARIALBES
$h2-pc: 40px;
$text-pc: 20px;
$a-small-pc: 20px;

$h2-mobile: 26px;
$text-mobile: 15px;
$a-small-mobile: 20px;

body{
    overflow-x: hidden;
}

main{
    h2{
        max-width: 90%;
        margin: 0 auto 3em auto;
        font-size: $h2-mobile;
    }

    .lang-container{
        width: 93%;
    }

    .lang-container a{
        color: black;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    .lang-card{
        margin: 1em auto;
        max-width: 85%;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
    }

    .lang-card h3{
        font-size: $h2-mobile;

    }

    .german{
        background: #E4D200;
    }

    .english{
        background: #B59AB7;
    }

    .czech{
        background: #2196CF;
    }

    .russian{
        background: #93CFC2;
    }

    .vietnameese{
        background: #39B080;
    }

    .chineese{
        background: #E15A2F;
    }

    .prepared-container .prepared{
        background: #D9D9D9;
        border-radius: 2em;
    }
    .container .prepared-heading{
        margin: 2em auto 2em auto;
    }
}

//MEDIA

@media only screen and (min-width: 1000px){
    
    main h2 br{
        display: none;
    }
    main h2{
        font-size: $h2-pc;
    }
    main .container{
        min-width: 100vw;
        scroll-snap-align: start;
        // max-height: 90vh;
        
    }
    main::-webkit-scrollbar{
        display: none;
    }
    main{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    main .lang-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        width: 93%;
    }
    main .lang-container .lang-card{
        min-width: 90%;
        min-height: 15em;
        margin: 1em auto;
    }
    main .lang-container .lang-card h3{
        font-size: $h2-pc;
    }

    main .prepared-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 93%;
        margin: 0 auto;
    }
    
    main .prepared-container .prepared{
        min-width: 90%;
        min-height: 15em;
        border-radius: 2em;
        margin: 1em auto;
    }
    
    main .prepared-heading{
        margin: 2em auto 2em auto;
    }
}