//VARIALBES
$textPc: 30px;
$textMobile: 20px;




main{
    max-width: 100%;
    margin: auto;

    h2{
        max-width: 85%;
        margin: auto;
        font-size: $textMobile;
        line-height: 1.2;
        font-family: 'Stabil';
        font-weight: 500;
    }

    .slider{
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        // max-height: 100%;
    }
    
    .slider::-webkit-scrollbar{
        display: none;
    }
    
    .slider{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    
    .slider .slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100vw;
        // height: 100%;
        scroll-snap-align: start;
    }
}



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    height: 30em;
    max-width: 85%;
    margin-top: 3em;

    img{
        margin: 4em auto 3em auto;
        width: auto;
        height: 6em;
    }

    p{
        max-width: 85%;
        text-align: center;
        font-size: $textMobile;
        margin-top: 3em;
    }
}

.yellow{
    background: #E4D200;
}

.lBlue{
    background: #93CFC2;
}

.green{
    background: #39B080;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 0.25em;
}

.active-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 0 0.25em;
}

.dot-container{
    display: flex;
    width: fit-content;
    margin: 1em auto;
    padding-bottom: 1em;
}


//MEDIA

@media only screen and (min-width: 1000px){

    body{
        overflow-x: hidden;
    }

    main h2{
        font-size: $textPc;
        line-height: 1.2;
    }

    main .dot-container{
        display: none;
    }

    main .slider .slide{
        min-width: auto;
    }

    main .slider .slide .card{
        height: 35em;
    }

    main .slider{
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .card p{
        font-size: $textPc;
    }
}