main{
    max-width: 100%;
    margin: auto;

    h2{
        max-width: 85%;
        margin: auto;
    }

    .slider{
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    
    .slider::-webkit-scrollbar{
        display: none;
    }
    
    .slider{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    
    .slider .slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100vw;
        scroll-snap-align: start;
    }
}



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    border-radius: 2em;
    height: 25em;
    max-width: 85%;
    margin-top: 3em;

    img{
        padding: 2em;
    }

    p{
        font-family: 'Stabil';
        max-width: 85%;
        text-align: center;
    }

    a{
        text-decoration: none;
        color: black;
        margin-top: 2em;
    }
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 0.25em;
}

.active-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 0 0.25em;
}

.dot-container{
    display: flex;
    width: fit-content;
    margin: 1em auto;
    padding-bottom: 1em;
}


//MEDIA

@media only screen and (min-width: 1000px){

    main .dot-container{
        display: none;
    }

    main .slider .slide{
        min-width: auto;
    }

    main .slider{
        max-width: 90%;
        margin: 0 auto;
    }
}