//VARIALBES
$h2-pc: 40px;
$text-pc: 20px;
$a-small-pc: 20px;

$h2-mobile: 26px;
$text-mobile: 15px;
$a-small-mobile: 20px;

main h2{
    max-width: 85%;
    margin: 0 auto;
    font-size: $h2-mobile;
}

//MEDIA

@media only screen and (min-width: 1000px){
    main h2{
        max-width: 60%;
        margin: 0 2em;
        font-size: $h2-pc;
    }
}