//VARIALBES
$textMobile: 20px;
$textPc: 30px;

main h2{
    max-width: 85%;
    margin: 0 auto;
    font-size: $textMobile;
    font-family: 'Stabil';
    font-weight: 500;

    span{
        font-family: 'Labil';
    }
}

//MEDIA

@media only screen and (min-width: 1000px){
    main h2{
        max-width: 60%;
        margin: 0 2em;
        font-size: $textPc;
    }
}