*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//VARIALBES
$h2-pc: 40px;
$text-pc: 20px;
$a-small-pc: 20px;

$h2-mobile: 26px;
$text-mobile: 15px;
$a-small-mobile: 20px;


header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;

//LANGUAGE SELECTOR
    .lang-slct-btn{
        color: #000;
        // padding: 16px;
        font-size: 16px;
        border: none;
        background: none;
        font-family: 'Stabil';
    }

    .language-select{
        position: relative;
        display: inline-block;
        margin: 1em;
    }

    .lng-slct-content{
        display: none;
        position: absolute;
        max-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 5;
        background-color: white;
        border-radius: 1em;

        a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border-radius: 1em;
            z-index: 5;
            font-family: 'Stabil';
        }
    }

    .lng-slct-content a:hover {background-color: rgb(250, 250, 250);}
    .lng-slct-content a:active {background-color: rgb(250, 250, 250);}

    .language-select:hover .lng-slct-content {display: block;}
    .language-select:active .lng-slct-content {display: block;}
}

.menu-logo{
    color: black;
    text-decoration: none;
    font-size: $h2-mobile;
    margin-bottom: 0.3em;
    font-feature-settings: "ss02";
}

//MENU
.open-menu-btn{
    background: none;
    border: none;
    outline: none;
    margin: 1em;
    padding-right: 10px;
    cursor: pointer;
}

.menu{
    width: 0;
    height: 100vh;
    background: #E4D200;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    
    .close-menu-btn{
        background: none;
        border: none;
        outline: none;
        margin: 1em;
        margin-top: 1.2em;
        padding-right: 16px;
        cursor: pointer;
    }

    .menu-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        z-index: 10000;
    }

    .menu-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        a{
            color: black;
            text-decoration: none;
            font-size: 30px;
            min-width: 10em;
            text-align: center;
        }
    }

    .menu-footer{
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 10%;
        left: 50%;
        right: 50%;

        a{
            margin: 1em;
        }
    }
}



//OPEN/CLOSE MENU ANIMATIONS
@keyframes openMenu {
    0%{
    width: 0;
    height: 100vh;
    }
    100%{
    display: block;
    width: 100vw;
    height: 100vh;
    }   
}

@keyframes closeMenu {
    0%{
    display: block;
    width: 100vw;
    height: 100vh;
    left: 0;
    }
    100%{
    width: 0;
    height: 100vh;
    background: #E4D200;
    z-index: 1000;
    position: absolute;
    left: 0;
    overflow: hidden;
    }
}




//MEDIA

@media only screen and (min-width: 1000px){
    
    header{
        justify-content: flex-end;
    
        .language-select{
            margin-right: 0;
        }
    }
    .open-menu-btn{
        margin-left: 0;
    }

    .menu .menu-header{
        justify-content: flex-end;

        .language-select{
            margin-right: 0;
        }
        .close-menu-btn{
            margin-left: 0;
        }
    }
    .menu .menu-main a{
        font-size: $h2-pc;
    }
}