//VARIALBES
$textPc: 30px;
$textMobile: 20px;

main{

    max-width: 85%;
    margin: 0 auto;
    

    .payment-container{
        margin-bottom: 3em;

        p{
            font-family: 'Stabil';
            font-size: $textMobile;
            font-weight: 500;
    
            span{
                font-family: 'Labil';
                font-weight: 700;
            }
        }
    }
}

//MEDIA

@media only screen and (min-width:1000px){
    main{
        max-width: 40%;
        margin-left: 5%;
    }
    main h2{
        font-size: $textPc;
    }
    main h3{
        font-size: $textPc;
    }
    main .payment-container p{
        font-size: $textPc;
    }
}