//VARIALBES
$textPc: 30px;
$textMobile: 20px;

main{
    h2{
        max-width: 85%;
        margin: auto;
        font-family: 'Stabil';
        font-weight: 500;
        font-size: $textMobile;
        line-height: 1.2;
    }

    h2 a{
        text-decoration: none;
        color: black;
        font-size: $textMobile;
    }

    .slider{
        display: flex;
        height: fit-content;
        margin: 3em auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .slider::-webkit-scrollbar{
        display: none;
    }

    .slider{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

    .slider .slide{
        display: flex;
        justify-content: center;
        min-width: 100vw;
        scroll-snap-align: start;
    }

    .slider .slide .price-card{
        width: 85%;
        height: 30em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25%;
        border-radius: 2em;

        h3{
            text-align: center;
            font-size: $textPc;
            margin-bottom: 1em;
        }

        p{
            font-family: 'Stabil';
            font-size: $textMobile;
            
        }
    }

    .dot-container{
        display: flex;
        width: fit-content;
        margin: 1em auto;
        padding-bottom: 1em;
    }

    .dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: gray;
        margin: 0 0.25em;
    }

    .active-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        margin: 0 0.25em;
    }

    

    .slider .slide .individual{
        background: #E4D200;
    }

    .slider .slide .twice{
        background: #B59AB7;
        padding-top: 27%;
    }

    .slider .slide .group{
        background: #93CFC2;
        padding-top: 23%;
    }
}


//MEDIA

@media only screen and (min-width: 1000px){

    main h2{
        font-size: $textPc;
        line-height: 1.2;
    }
    main h2 a{
        font-size: $textPc;
    }
    main h2 a br{
        display: none;
    }
    main .slider{
        max-width: 90%;
    }
    main .slider .slide{
        min-width: auto;
        width: 33%;
    }
    main .slider .slide .price-card{
        height: 35em;
    }
    main .slider .slide .price-card h3{
        font-size: 40px;
    }
    main .slider .slide .price-card p{
        font-size: $textPc;
    }
    main .dot-container{
        display: none;
    }
}