main {
  max-width: 100%;
  margin: auto;
  position: relative;
}
main h2 {
  text-align: left;
  max-width: 85%;
  margin: 0 auto 2em auto;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Stabil";
  font-weight: 500;
}
main h2 a {
  color: black !important;
  text-decoration: none !important;
}
main .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 0.25em;
}
main .active-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 0 0.25em;
}
main .dot-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto;
  padding-bottom: 1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7em;
}
main .slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
main .slider .pc-slide .left-arrow {
  display: none;
}
main .slider .pc-slide .right-arrow {
  display: none;
}
main .slider::-webkit-scrollbar {
  display: none;
}
main .slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main .slider .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  scroll-snap-align: start;
}
main .slider .pc-slide {
  display: flex;
  align-items: flex-start;
}
main .slider .pc-slide .slide h3 {
  margin: 4em 0;
  text-align: center;
  font-size: 20px;
}
main .slider .pc-slide .slide .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
  height: 30em;
  width: 85%;
  margin-top: 3em;
}
main .slider .pc-slide .slide .card img {
  margin: 3em auto;
  width: auto;
  max-width: 10em;
  border-radius: 50%;
}
main .slider .pc-slide .slide .card p {
  text-align: center;
  font-size: 20px;
  padding-top: 2em;
}

.red {
  background: #E15A2F;
}

.yellow {
  background: #E4D200;
}

.blue {
  background: #2196CF;
}

@media only screen and (min-width: 1280px) {
  main h2 {
    margin-bottom: 1em;
    max-width: 90%;
    font-size: 30px;
    line-height: 1.2;
  }
  main h2 br {
    display: none;
  }
  main .dot-container {
    display: none;
  }
  main .slider .slide {
    min-width: 31%;
    max-width: 31%;
    width: auto;
    margin: 0 1em;
  }
  main .slider {
    max-width: 95%;
    margin: 0 auto;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 100%;
  }
  main .slider .pc-slide .slide .card {
    height: 35em;
  }
  main .slider .pc-slide .slide .card p {
    font-size: 30px;
  }
  main .slider .pc-slide .slide h3 {
    margin-top: 0.5em;
    font-size: 20px;
  }
  main .slider .pc-slide .right-arrow {
    height: 2em;
    display: none;
    margin: 1em;
    cursor: pointer;
    position: absolute;
    right: 0em;
    top: 50%;
  }
  main .slider .pc-slide .left-arrow {
    height: 2em;
    display: none;
    margin: 1em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: rotate(180deg);
    left: 0;
  }
  main .slider .pc-slide {
    min-width: 100%;
    margin: 0 1em;
    height: 100%;
  }
}/*# sourceMappingURL=reference.css.map */