//VARIALBES
$textPc: 30px;
$textMobile: 20px;

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.close{
    position: absolute;
    right: 0;
    margin: 1em;
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em;


    img{
        border-radius: 2em;
        width: 100%;
        height: auto;
    }

    .text-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    h3{
        font-size: $textMobile;
        margin: 1em 0;
    }

    p{
        font-family: 'Stabil';
        font-size: $textMobile;
        font-weight: 500;
    }
}



//MEDIA

@media only screen and (min-width: 1000px){
    .container{
        flex-direction: row;
        align-items: flex-start;
        gap: 10em;
        padding: 4em;
    }
    .container img{
        height: 100%;
        width: auto;

    }
    .container h3{
        font-size: 40px;
    }
    .container p{
        font-size: $textPc;
        max-width: 30ch;
    }
}