
//MAIN
main{

    h2{
        margin: 1.25em;
        // font-size: 2.5vw;
    }
}

//FOOTER
footer{

    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 1em auto;
    width: 100%;
    
    h1{
        font-family: 'Labil', sans-serif;
        font-feature-settings: "ss02";
        font-size: 17vw;
    }
}


//MEDIA

@media only screen and (min-width: 1000px){
    
    main h2{
        max-width: 22em;
        font-size: 2.5rem;
        margin-top: 0;
    }
}